[run]
source=
    stockman_project
    stock_setup_info
    stock_maintain
    stock_profile_mgt
omit=
    ~/venv/
    *migrations/*,
    *settings/*,
    *tests/*,
    *urls.py,
    *wsgi.py,
    manage.py
